<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
	.span-font{
		color:#F00;
		font-weight:bold;
	}
</style>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-examination-add">

			<div class="form-group">	
				<label class="col-sm-3 control-label">试题类型</label>
				<div class="col-sm-8">
					<select name="examinationType"  id="examinationType" class="form-control m-b" th:with="type=${@dict.getType('examination_type')}" onchange="examinationTypeFunction()">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>

			<div  id="sequence">
				<div class="form-group">
					<label class="col-sm-3 control-label">答案顺序</label>
					<div class="col-sm-8">
						<select name="sequence" id="sequence-0" class="form-control m-b" th:with="type=${@dict.getType('sequence')}">
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">填空题多个答案</label>
					<div class="col-sm-9">
						<p class="form-control-static">【备选答案解析】<span class="span-font">多个答案间互换顺序若正确，选择不影响答案结果，反之选择影响答案结果</span> </p>
					</div>
				</div>
			</div>



			<div id="examinationContent_0">
				<div class="form-group">
					<label class="col-sm-3 control-label">试题内容</label>
					<div class="col-sm-8">
						<textarea id="examinationContent-0" name="examinationContent" autocomplete="off" maxlength="500" class="form-control" rows="6" placeholder="“四个意识”是指牢固树立政治意识、content#4、核心意识、content#4，自觉在思想上政治上行动上同以习近平同志为核心的党中央保持高度一致。"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">试题内容示例</label>
					<div class="col-sm-9">
						<p class="form-control-static">	“四个意识”是指牢固树立政治意识、<span class="span-font">content#4</span>、核心意识、<span class="span-font">content#4</span>，自觉在思想上政治上行动上同以习近平同志为核心的党中央保持高度一致。</p>
						<p class="form-control-static">【试题内容解析】<span class="span-font">其中 content 为试题正确答案内容，# 为连接符号，4 为答案所需的汉字数 </span> </p>
					</div>
				</div>
			</div>

			<div id="examinationContent_1">
				<div class="form-group">
					<label class="col-sm-3 control-label">试题内容</label>
					<div class="col-sm-8">
						<textarea id="examinationContent-1" name="examinationContent" autocomplete="off" maxlength="500" class="form-control" rows="6" placeholder="党支部公示发展对象的基本情况、党员群众推荐情况、培养考察情况、反映问题方式及其他内容，时间一般为（）。"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">A</label>
					<div class="col-sm-8">
						<textarea id="A" name="A" autocomplete="off" maxlength="500" class="form-control" rows="2" placeholder="7天"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">B</label>
					<div class="col-sm-8">
						<textarea id="B" name="B" autocomplete="off" maxlength="500" class="form-control" rows="2" placeholder="10天"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">C</label>
					<div class="col-sm-8">
						<textarea id="C" name="C" autocomplete="off" maxlength="500" class="form-control" rows="2" placeholder="5天"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">D</label>
					<div class="col-sm-8">
						<textarea id="D" name="D" autocomplete="off" maxlength="500" class="form-control" rows="2" placeholder="3天"></textarea>
					</div>
				</div>
			</div>

			<div class="form-group" id="examinationOption">
				<label class="col-sm-3 control-label">答案选项</label>
				<div class="col-sm-8">
					<select name="examinationOption" id="examinationOption-1" class="form-control m-b" th:with="type=${@dict.getType('examination_option')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>

			<div id="examinationRight_0">
				<div class="form-group">
					<label class="col-sm-3 control-label">试题答案</label>
					<div class="col-sm-8">
						<textarea id="examinationRight-0" name="examinationRight" autocomplete="off" maxlength="500" class="form-control" rows="6" placeholder="大局意识#看齐意识"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">试题答案示例</label>
					<div class="col-sm-9">
						<p class="form-control-static"><span class="span-font">大局意识#看齐意识</span></p>
						<p class="form-control-static">【试题内容解析】<span class="span-font">其中 ‘大局意识’、‘看齐意识’ 对应 content ，# 为连接符号 </span> </p>
					</div>
				</div>
			</div>

		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">

		$(function(){
			//初始化试题页面
			var examinationType = $('#examinationType').val()
			if(examinationType == 0){
				//填空题
				$('#examinationOption').hide()
				$('#examinationContent_1').hide()
			}
		});

		function examinationTypeFunction(){
			var examinationType = $('#examinationType').val()
			if(examinationType == 0){
				//填空题
				$('#examinationOption').hide()
				$('#examinationContent_1').hide()
				$('#sequence').show()
				$('#examinationContent_0').show()
				$('#examinationRight_0').show()
			}else {
				//选择题
				$('#examinationOption').show()
				$('#examinationContent_1').show()
				$('#sequence').hide()
				$('#examinationContent_0').hide()
				$('#examinationRight_0').hide()
			}
		}


		var prefix = ctx + "system/examination"
		$("#form-examination-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
			debugger;
			//判断是选择题还是填空题
			var examinationType = $('#examinationType').val()
			if(examinationType == 0){
				//填空题
				var examinationContent = $('#examinationContent-0').val()
				if(examinationContent == ""){
					alert("请输入试题内容")
					return
				}
				var examinationRight = $('#examinationRight-0').val()
				if(examinationRight == ""){
					alert("请输入试题答案")
					return
				}
				var sequence = $('#sequence-0').val()
				var examinationRight = sequence+"#"+examinationRight
				var examinationInfo = {
					examinationType:examinationType,
					examinationContent:examinationContent,
					examinationRight:examinationRight
				};
				console.log(examinationInfo)
			}else {
				//选择题
				var examinationContent = $('#examinationContent-1').val()
				var examinationRight = $('#examinationOption-1').val()
				if(examinationContent == ""){
					alert("请输入试题内容")
					return
				}
				var a = $('#A').val()
				if(a == ""){
					alert("请输入答案选项")
					return
				}
				var b = $('#B').val()
				if(b == ""){
					alert("请输入答案选项")
					return
				}
				var c = $('#C').val()
				if(c == ""){
					alert("请输入答案选项")
					return
				}
				var d = $('#D').val()
				if(d == ""){
					alert("请输入答案选项")
					return
				}
				var examinationOption = {
					A:a,
					B:b,
					C:c,
					D:d
				};
				var examinationInfo = {
					examinationType:examinationType,
					examinationContent:examinationContent,
					examinationOption:examinationOption,
					examinationRight:examinationRight
				};
				console.log(examinationInfo)
			}
	        // if ($.validate.form()) {
	        //     $.operate.save(prefix + "/add", $('#form-examination-add').serialize());
	        // }
	    }
	</script>
</body>
</html>
